<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>CIS 197 Final Project</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">


</head>
<body>

  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">CIS 197 Final Project</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/spotify">Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/playlist_extender">Playlists</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/my_playlists">My Playlists</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron text-center mt-4"><h1>My Playlists</h1></div>
    <p>Here are your most recent playlists made with this app!</p>
    <% for (var i = 0; i < playlists.length; i++) { %>
    <h2 class="show">Playlist <%= i + 1 %></h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Track</th>
          <th>Artist</th>
          <th>Preview</th>
        </tr>
      </thead>
      <tbody>
        <% for (var j = 0; j < playlists[i].length; j++) { %>
        <tr>
          <td><%= playlists[i][j].trackName %></td>

          <td><%= playlists[i][j].artists %></td>
          <td><a href=<%= playlists[i][j].preview_url %> >Preview</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
    <% } %>

  </div>

  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script src="/js/jquery.min.js"></script>
  <!-- <script src="/js/bootstrap.min.js"></script> -->


</body>
</html>
